.ap-login{
    min-width: 300px;
    max-width: 300px;
    background: linear-gradient(0deg , #272727 , #0F292F );
    border-radius: 5%;
    min-height: 300px;
    max-height: 300px;
    margin: 20% , 0% , 20% , 0% !important;
}